<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          
          </button>
          <a class="navbar-brand" href="#">Xing Shi</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
	    {% if page.url == '/index.html' or page.url == '/' %}
            <li class="active"><a href="/index.html">Home</a></li>
	    {% else %}
            <li><a href="/index.html">Home</a></li>
	    {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
	    {% if page.url == '/dashboard/'%}
	    <li class="active"><a href="{{ '/dashboard/' | prepend: site.baseurl }}"><span class="glyphicon glyphicon-dashboard"></span>&nbsp; Dashboard</a></li>
	    {% else %}
	    <li><a href="{{ '/dashboard/' | prepend: site.baseurl }}"><span class="glyphicon glyphicon-dashboard"></span>&nbsp; Dashboard</a></li>
	    {% endif %}

	    {% if page.url == '/archives/' %}
            <li class="active"><a href="{{ '/archives/' | prepend: site.baseurl }}"><span class="glyphicon glyphicon-tasks"></span>&nbsp; Archives</a></li>
	    {% else %}
	    <li><a href="{{ '/archives/' | prepend: site.baseurl }}"><span class="glyphicon glyphicon-tasks"></span>&nbsp; Archives</a></li>
	    {% endif %}
	    <li><a href="http://github.com/shixing"><i class="fa fa-github fa-lg"></i></a></li>
	    <li><a href="http://www.linkedin.com/pub/xing-shi/3b/b79/b1b"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
	    
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
