.section {
    font-size:medium;
}

.subsection{
    margin: 3px 0 3px 0;
}

.paper-title, .paper-author, .paper-conference, .paper-link, .university, .degree{
    display:block;
    clear:both;
}

.block-clear{
    display:block;
    clear:both;

}

.ss{
    font-family:sans-serif;
}

.paper-link{
    font-family:sans-serif;
}

.paper-title{
    font-weight:400;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #ff0000;
}

th{
    border:2px solid #000000;
}

td{
    border:1px solid #000000;
}